launcher/**
game/gfx/**
game/fonts/**
jomini/gfx
!jomini/localization/**
!game/localization/english/**
clausewitz/gfx
clausewitz/gui
clausewitz/fonts
!clausewitz/localization/**
binaries/**
*l_braz_por.yml
*l_french.yml
*l_german.yml
*l_japanese.yml
*l_korean.yml
*l_polish.yml
*l_russian.yml
*l_simp_chinese.yml
*l_spanish.yml
*l_turkish.yml
*.dds
*.mesh
*.zip
*.asset
*.txt
*.mp3
*.flac
*.tga
*.info
*.jpg
*.png
*.gui
*.shortcuts
*.layout
*.json
*.audio
*.audio2
*.bank
*.settings
*.dat
*.xcf
*.csv
*.map
*.curves
*.heightmap