launcher/**
game/gfx/**
game/fonts/**
jomini/gfx
!jomini/localization/**
!game/localization/english/**
clausewitz/gfx
clausewitz/gui
clausewitz/fonts
!clausewitz/localization/**
binaries/**
*l_braz_por.yml
*l_french.yml
*l_german.yml
*l_japanese.yml
*l_korean.yml
*l_polish.yml
*l_russian.yml
*l_simp_chinese.yml
*l_spanish.yml
*l_turkish.yml
*l_braz_por_mp1.yml
*l_french_mp1.yml
*l_german_mp1.yml
*l_japanese_mp1.yml
*l_korean_mp1.yml
*l_polish_mp1.yml
*l_russian_mp1.yml
*l_simp_chinese_mp1.yml
*l_spanish_mp1.yml
*l_turkish_mp1.yml
*.dds
*.mesh
*.zip
*.asset
*.txt
*.mp3
*.flac
*.tga
*.info
*.jpg
*.png
*.gui
*.shortcuts
*.profile
*.layout
*.json
*.audio
*.audio2
*.bank
*.settings
*.dat
*.xcf
*.csv
*.map
*.curves
*.heightmap